In [3]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [29]:
from osgeo import ogr

# Create ring
ring = ogr.Geometry(ogr.wkbLinearRing)
ring.AddPoint(1179091.1646903288, 712782.8838459781)
ring.AddPoint(1161053.0218226474, 667456.2684348812)
ring.AddPoint(1214704.933941905, 641092.8288590391)
ring.AddPoint(1228580.428455506, 682719.3123998424)
ring.AddPoint(1218405.0658121984, 721108.1805541387)
ring.AddPoint(1179091.1646903288, 712782.8838459781)

# Create polygon
poly = ogr.Geometry(ogr.wkbPolygon)
poly.AddGeometry(ring)

print poly.ExportToWkt()

POLYGON ((1179091.16469033 712782.883845978 0,1161053.02182265 667456.268434881 0,1214704.9339419 641092.828859039 0,1228580.42845551 682719.312399842 0,1218405.0658122 721108.180554139 0,1179091.16469033 712782.883845978 0))

In [77]:
from osgeo import ogr

for i in range(215):
    ring = ogr.Geometry(ogr.wkbLinearRing)
    ring.AddPoint(lat[i],lng[i])
    poly = ogr.Geometry(ogr.wkbPolygon)
    poly.AddGeometry(ring)
    bus['geometry'][i] = poly.ExportToWkt()

/Users/sichen/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
from geopandas import GeoDataFrame
shape_path="/Users/sichen/Desktop/Machine_learning/project/park.geojson"
park_shape = GeoDataFrame.from_file(shape_path).to_crs(epsg=4326)

In [45]:
park_shape.head(2)

,feat_code,geometry,landuse,park_name,parknum,shape_area,shape_leng,source_id,status,sub_code,system
0,4910,(POLYGON ((-73.97922375065221 40.6979987936995...,Community Park,Commodore Barry Park,B021,41539.8013629,829.420106841,21491000001,Updated,491050,None
1,4980,(POLYGON ((-73.99732028095745 40.6960076407216...,Neighborhood Park,Pierrepont Playground,B222,21960.4949197,607.555193338,21498000002,Unchanged,498000,None

In [87]:
from geopandas import GeoDataFrame
from shapely.geometry import Point

geometry = [Point(xy) for xy in zip(bus.locations_location_lat, bus.locations_location_lng)]
bus = bus.drop(['locations_location_lng', 'locations_location_lng'], axis=1)
crs = {'init': 'epsg:4326'}
geo_df = GeoDataFrame(bus, crs=crs, geometry = geometry)

In [88]:
park_shape.crs

{'init': 'epsg:4326', 'no_defs': True}

In [89]:
type(park_shape['geometry'][0])

shapely.geometry.multipolygon.MultiPolygon

In [90]:
type(geo_df['geometry'][0])

shapely.geometry.point.Point

In [96]:
geo_df.head()

,permit_start_date,permit_end_date,permit_number,description,type,emails_email,emails,phones_phone,phones,websites_website,websites,locations_location_lat,locations_location,locations,name,geometry
0,2013-03-24,2018-03-23,M007-CG,NaN,Specialty Cart,NaN,NaN,NaN,NaN,NaN,NaN,40.741503,NaN,NaN,ALEX LINDOWER PARK TRUCKS,POINT (40.741503 -73.988168)
1,2013-07-01,2017-12-31,B329-MT,NaN,Food Cart,NaN,NaN,NaN,NaN,NaN,NaN,40.611646,NaN,NaN,Alfred Loreto Park Mobile Food Truck,POINT (40.611646 -73.912717)
2,2013-05-01,2017-12-31,X163-MT,NaN,Mobile Food Truck,NaN,NaN,NaN,NaN,NaN,NaN,40.848450,NaN,NaN,Alley Pond Golf Center,POINT (40.84845 -73.851653)
3,2010-11-01,2025-10-31,Q1-DR,"Alley Pond Golf Center\r\n74 Hitting Stations,...",Driving Range,NaN,NaN,(718) 225-9187,NaN,NaN,NaN,40.765294,NaN,NaN,Alley Pond Tennis Center,POINT (40.765294 -73.749188)
4,2010-11-16,2022-10-10,Q1-A-SB-IT,"The Alley Pond Tennis Center, operated by form...",Tennis Facility,info@alleypondtenniscenter.com,NaN,(718) 264-2600,NaN,http://www.alleypondtenniscenter.com/,NaN,40.739339,NaN,NaN,Anibal Aviles Playground Mobile Food Truck,POINT (40.739339 -73.735834)

In [97]:
len(park_shape)

12491

In [105]:
park_shape['count'] = np.zeros(len(park_shape))

In [109]:
for i in range(len(park_shape)):
    for j in range(len(geo_df)):
        if geo_df['geometry'][j].within(park_shape['geometry'][i]):
            print park_shape[i]
            #park_shape['count'][i] += 1

In [108]:
park_shape['count'].max()

0.0

In [100]:
geo_df['geometry'][0].within(park_shape['geometry'][0])

False

In [30]:
df_bs = pd.read_csv('Legally_Operating_Businesses.csv')

In [31]:
df_bs.head(2)

,DCA License Number,License Type,License Expiration Date,License Category,Business Name,Business Name 2,Address Building,Address Street Name,Secondary Address Street Name,Address City,Address State,Address ZIP,Contact Phone Number,Address Borough,Detail,Longitude,Latitude
0,1285930-DCA,Business,07/31/2017,Secondhand Dealer - General,ROBERT LLOYD INC.,NaN,1050,2ND AVE,NaN,NEW YORK,NY,10022,5168358394,Manhattan,NaN,-73.966066,40.758227
1,2001814-467-DCA,Business,12/31/2018,Cigarette Retail Dealer,222 MARKET CORP.,GRAMERCY FOOD MARKET.,384,2ND AVE,NaN,NEW YORK,NY,10010,2127772808,Manhattan,NaN,-73.981265,40.737376

In [8]:
from geopandas import GeoDataFrame
from shapely.geometry import Point

In [32]:
geometry = [Point(xy) for xy in zip(df_bs.Longitude, df_bs.Latitude)]
#bus = bus.drop(['locations_location_lng', 'locations_location_lng'], axis=1)
crs = {'init': 'epsg:4326'}
geo_df_bs = GeoDataFrame(df_bs, crs=crs, geometry = geometry)

In [10]:
park_shape.head(2)

,feat_code,geometry,landuse,park_name,parknum,shape_area,shape_leng,source_id,status,sub_code,system
0,4910,(POLYGON ((-73.97922375065221 40.6979987936995...,Community Park,Commodore Barry Park,B021,41539.8013629,829.420106841,21491000001,Updated,491050,None
1,4980,(POLYGON ((-73.99732028095745 40.6960076407216...,Neighborhood Park,Pierrepont Playground,B222,21960.4949197,607.555193338,21498000002,Unchanged,498000,None

In [33]:
geo_df_bs = geo_df_bs.dropna()

In [34]:
buffer = [point.buffer(0.03) for point in geo_df_bs['geometry']]

In [36]:
geo_df_bs['geometry'] = buffer

In [37]:
geo_df_bs = geo_df_bs.to_crs(epsg=4326)

In [38]:
park_bs = gpd.sjoin(park_shape,geo_df_bs[['DCA License Number',"geometry"]])

In [39]:
len(park_bs.groupby('park_name').count()['DCA License Number'])

330

In [41]:
park_bs.head(2)

,feat_code,geometry,landuse,park_name,parknum,shape_area,shape_leng,source_id,status,sub_code,system,index_right,DCA License Number
0,4910,(POLYGON ((-73.97922375065221 40.6979987936995...,Community Park,Commodore Barry Park,B021,41539.8013629,829.420106841,21491000001,Updated,491050,None,57894,2035427-DCA
1,4980,(POLYGON ((-73.99732028095745 40.6960076407216...,Neighborhood Park,Pierrepont Playground,B222,21960.4949197,607.555193338,21498000002,Unchanged,498000,None,57894,2035427-DCA

In [46]:
park_bs_act = pd.DataFrame(park_bs.groupby('park_name').count()['DCA License Number'])

In [228]:
park_shape = park_shape.fillna(0)

In [55]:
park_bs_act = park_bs_act.rename(columns={'DCA License Number' : 'bus_act_count'})

In [50]:
park_bs_act.reset_index(level=0, inplace=True)

In [56]:
park_bs_act.head(2)

                  park_name  bus_act_count
0    101st St. Soccer Field              1
1  104th St. Softball Field              1

In [64]:
park_bs = pd.merge(park_shape,park_bs_act,on='park_name',how='inner')

In [69]:
park_bs.head()

              park_name  bus_act_count
0  Commodore Barry Park             10
1  Commodore Barry Park             10
2  Commodore Barry Park             10
3  Commodore Barry Park             10
4  Commodore Barry Park             10

In [68]:
park_bs = park_bs[['park_name','bus_act_count']]

In [66]:
len(park_bs)

3935

In [70]:
park_bs.to_csv('park_business.csv')