In [1]:
import pandas as pd
import geopandas as gpd

In [6]:
fi='../data/7 nyc_public_house/geo_export_3a877721-79ea-4ba4-a850-d5a38e0ba1b7.shp'
public_h = gpd.GeoDataFrame.from_file(fi).to_crs(epsg= 4326)

In [12]:
fi = '../data/9 nyc_census_tract2010/ct_nyc_shape.shp'
ct = gpd.GeoDataFrame.from_file(fi).to_crs(epsg = 4326)

In [16]:
ct=ct[['Id','geometry']]
ct.head()

                     Id                                           geometry
0  1400000US36085000900  POLYGON ((-74.07920577013249 40.643430783779, ...
1  1400000US36061009800  POLYGON ((-73.96432543478755 40.75638153102423...
2  1400000US36061010000  POLYGON ((-73.9680243691585 40.75957814008616,...
3  1400000US36061010200  POLYGON ((-73.97124277307125 40.76093641851239...
4  1400000US36061010400  POLYGON ((-73.97445730550223 40.76229308355821...

In [18]:
public_h = gpd.sjoin(public_h,ct)

In [21]:
public_h = public_h[['developmen','geometry','Id']]

In [43]:
pub_h_counts = public_h.Id.value_counts()

In [28]:
demo = pd.read_csv('../data/4 cleaned_medianincome_houldhold.csv')
park_ct = demo[['park_name','census_tract']]

In [32]:
park_ct.census_tract = map(lambda x : x.split(',')[:-1] , park_ct.census_tract)

//anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2701: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [44]:
i=0
sum(pub_h_counts[park_ct.iloc[i,1]])

nan

In [45]:
park_ct['public_house'] = 0
for i in range(len(park_ct)):
    park_ct.ix[i,'public_house']=sum(pub_h_counts[park_ct.iloc[i,1]])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
//anaconda/lib/python2.7/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [47]:
park_ct

,park_name,census_tract,public_house
0,Community Garden Association,[1400000US36061003400],NaN
1,Each One Teach One,[1400000US36061024200],2.0
2,Highland Park Childrens Garden,[1400000US36047118000],NaN
3,Collyer Brothers Park,[1400000US36061020800],NaN
4,Estella Diggs Park,[1400000US36005018500],2.0
5,American Veterans Memorial Pier,[1400000US36047003400],NaN
6,Harding Park Beautification Project,[1400000US36005000200],NaN
7,Frontera Park,[1400000US36081051700],NaN
8,Skate Park,[1400000US36061019500],NaN
9,Yellowstone Park,[1400000US36081074100],NaN
10,Jackie Robinson Playground,[1400000US36047032500],NaN
11,Sunset Cove Park,"[1400000US36081107201, 1400000US36081107202]",NaN
12,P.S. 173,[1400000US36061026300],NaN
13,P.S. 172,[1400000US36047010100],NaN
14,Fort Hill Park,[1400000US36085000900],NaN
15,P.S. 176,[1400000US36047019600],NaN
16,Vernon/throop Av Block Association,[1400000US36047028300],2.0
17,Samuel Triangle,[1400000US36061021800],3.0
18,Haffen Park,[1400000US36005035800],NaN
19,Bethesda Terrace,[1400000US36061014300],NaN
20,Hope Garden,[1400000US36061003002],2.0
21,Green Gems,[1400000US36047119600],NaN
22,Beanstalk Playground,[1400000US36005024501],1.0
23,Grand Central Parkway Extension,"[1400000US36081038302, 1400000US36081031700, 1...",NaN
24,Horseshoe Playground,[1400000US36005013100],2.0
25,Forest Grove,[1400000US36085032300],NaN
26,Manley's Pl,[1400000US36047119200],NaN
27,Myrtle Avenue Clemens Triangle,[1400000US36081055100],NaN
28,Louis Pl Friends,[1400000US36047030100],NaN
29,P.S. 3,"[1400000US36085019800, 1400000US36005037504]",NaN
...,...,...,...
1998,Classon Triangle,[1400000US36047053700],NaN
1999,Triborough Bridge Playground A,[1400000US36081009900],NaN
2000,Triborough Bridge Playground C,[1400000US36081009500],NaN
2001,West 186th Street Basketball Court,[1400000US36061026900],NaN
2002,Lentol Garden,[1400000US36047049900],NaN
2003,Triborough Bridge Playground D,[1400000US36081009500],NaN
2004,Curtis Playground,[1400000US36047095400],NaN
2005,Cutinella Triangle,[1400000US36047038600],NaN
2006,Jamaica Gateway Park,[1400000US36081020800],NaN
2007,Hutchinson River Parkway,"[1400000US36005019400, 1400000US36005028400, 1...",NaN
2008,GREENST,[1400000US36081038302],NaN
2009,Merchant's House Museum,[1400000US36061005700],NaN
2010,Rappaport Playground,[1400000US36047011600],NaN
2011,MARINE PARK,[1400000US36047066600],NaN
2012,Garden Of Happiness,[1400000US36005037100],1.0
2013,Mapes,[1400000US36005037100],1.0
2014,Townsend Garden,[1400000US36005022701],NaN
2015,Ruoff Triangle,[1400000US36081004200],NaN
2016,Zimmerman Playground,[1400000US36005033600],1.0
2017,College Point Park,"[1400000US36081090700, 1400000US36081092900]",NaN
2018,St. Andrew's Playground,[1400000US36047027100],NaN
2019,Beatty Plaza,[1400000US36005014900],4.0
2020,Barone Triangle,[1400000US36047070000],NaN
2021,Father Demo Square,[1400000US36061006700],NaN
2022,P.S. 226,[1400000US36047044600],NaN
2023,P.S. 221,[1400000US36047035500],NaN
2024,Sobel Playground,[1400000US36047053500],NaN
2025,Poppenhusen Park,[1400000US36081094700],NaN
2026,Legion Triangle,[1400000US36081000600],NaN
2027,Mahoney Playground,[1400000US36085000700],1.0